.friendsList {
  list-style: none;

  padding: 0;
  margin-bottom: 50px;
}

.friendItem {
  display: flex;
  align-items: center;
  max-width: 100%;

  outline: 1px black solid;
}

.friendStatus {
  width: 20px;
  height: 20px;

  justify-content: center;
  align-items: center;

  border-radius: 50px;
}
